<!-- aboutme -->
<section id="aboutme">
    <md-container layout-padding>
        <h3 class="md-headline">About Me:</h3>
        <md-divider style="margin: -20px 10px 10px 0px"></md-divider>

        <md-whiteframe class="md-whiteframe-2dp" layout-margin layout="row" layout-align="space-between center">
            <md-grid-list flex="100" md-cols-sm="6" md-cols="12" md-row-height="1:1">
                <md-grid-tile md-colspan-sm="4" md-colspan="9">
                    <div style="max-width: 600px">
                        <p class="md-subhead">Thanks for your interest in my page. </p>
                        <p class="md-body-1" style="text-align: justify">
                        I am an ME student in the department of <a href="http://www.csa.iisc.ac.in/" target="_blank">Computer Science and Automation</a> at <a href="http://www.iisc.ac.in/" target="_blank">Indian Institute of Science Bangalore</a>. My research interests lie in the areas of Database Systems and Machine Learning. I am currently working with <a href="http://dsl.cds.iisc.ac.in/~haritsa/" target="_blank">Prof. Jayant R. Haritsa</a> at the <a href="http://dsl.cds.iisc.ac.in/" target="_blank">Database Systems Lab</a>.
                        </p>
                    </div>
                </md-grid-tile>
                <md-grid-tile md-colspan-sm="2" md-colspan="3">
                    <table>
                        <tr><td>Born in: </td><td>1992</td></tr>
                        <tr><td>Nationality: </td><td>Indian</td></tr>
                        <tr><td>Ethnicity: </td><td>Hindu</td></tr>
                    </table>
                </md-grid-tile>
            </md-grid-list>
        </md-whiteframe>
    </md-container>
</section>
