<!-- catchme -->
<section id="catchme">
    <md-container layout-padding>
        <h3 class="md-headline">Catch Me:</h3>
        <md-divider style="margin: -20px 10px 10px 0px"></md-divider>

        <md-whiteframe class="md-whiteframe-2dp" layout-margin layout="row" layout-align="space-between center">
            <md-grid-list flex="100" md-cols-sm="3" md-cols-md="6" md-cols="12" md-row-height="1:1">
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <table style="width: 300px">
                        <tr><td><ng-md-icon icon="google-plus"></ng-md-icon></td><td>raghavsood33@gmail.com</td></tr>
                        <tr><td><ng-md-icon icon="mail_outline"></ng-md-icon></td><td>raghav@dsl.serc.iisc.ernet.in</td></tr>
                        <tr><td><ng-md-icon icon="linkedin"></ng-md-icon></td><td><a href="https://linkedin.com/in/raghavsood33" target="_blank">linkedin.com/in/raghavsood33</a></td></tr>
                        <tr><td><ng-md-icon icon="whatsapp"></ng-md-icon></td><td>+91 9902558053</td></tr>
                    </table>
                </md-grid-tile>
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <table style="width: 300px">
                        <tr><td><img src="assets/images/quora.png" /></td><td><a href="https://quora.com/profile/Raghav-Sood-4" target="_blank">quora.com/profile/Raghav-Sood-4</a></td></tr>
                        <tr><td><img src="assets/images/play.png" /></td><td><a href="https://play.google.com/store/apps/details?id=com.appyfest" target="_blank">play.google.com/store/apps/details?id=com.appyfest</a></td></tr>
                        <tr><td><ng-md-icon icon="facebook"></ng-md-icon></td><td><a href="https://facebook.com/appyfest" target="_blank">facebook.com/appyfest</a></td></tr>
                        <tr><td><ng-md-icon icon="location_on"></ng-md-icon></td><td><a href="https://goo.gl/maps/pCxtCmjwxaw" target="_blank">DSL Lab, CDS, IISc Bangalore 560012</a></td></tr>
                    </table>
                </md-grid-tile>
            </md-grid-list>
        </md-whiteframe>
    </md-container>
</section>

