<!-- education -->
<section id="education">
    <md-container layout-padding>
        <h3 class="md-headline">Education:</h3>
        <md-divider style="margin: -20px 10px 10px 0px"></md-divider>

        <md-whiteframe class="md-whiteframe-2dp" layout-margin layout="row" layout-align="space-between center">
            <md-grid-list flex="100" md-cols-sm="3" md-cols-md="6" md-cols="12" md-row-height="1:1">
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/IISc.jpg" />
                    </span>
                    <table style="width: 300px">
                        <tr><td colspan="2">ME Database Systems Lab (pursuing), </td></tr>
                        <tr><td colspan="2"><a href="http://www.csa.iisc.ac.in/" target="_blank">IISc Bangalore</a>, India</td></tr>
                        <tr><td>2015-2017</td><td>CGPA&nbsp;&nbsp;&nbsp;&nbsp;6.4 / 8</td></tr>
                    </table>
                </md-grid-tile>
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/NITKKR.png" />
                    </span>
                    <table style="width: 300px">
                        <tr><td colspan="2">B. Tech Computer Engineering</td></tr>
                        <tr><td colspan="2"><a href="http://nitkkr.ac.in/" target="_blank">NIT Kurukshetra</a>, India</td></tr>
                        <tr><td>2010-2014</td><td>CGPA&nbsp;&nbsp;&nbsp;&nbsp;9.4 / 10</td></tr>
                    </table>
                </md-grid-tile>
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/CBSE.jpg" />
                    </span>
                    <table style="width: 300px">
                        <tr><td colspan="2">Senior Secondary</td></tr>
                        <tr><td colspan="2"><a href="http://www.maharajaagrasainschool.in/" target="_blank">Maharaja Agrasain School</a>, India</td></tr>
                        <tr><td>2008-2010</td><td><a href="http://cbse.nic.in/" target="_blank">CBSE</a>&nbsp;&nbsp;&nbsp;&nbsp;89.6%</td></tr>
                    </table>
                </md-grid-tile>
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/ICSE.jpg" />
                    </span>
                    <table style="width: 300px">
                        <tr><td colspan="2">High School</td></tr>
                        <tr><td colspan="2"><a href="http://www.xaviersirsa.com/" target="_blank">St. Xavier's School</a>, India</td></tr>
                        <tr><td>1996-2008</td><td><a href="http://www.cisce.org/" target="_blank">ICSE</a>&nbsp;&nbsp;&nbsp;&nbsp;90.4%</td></tr>
                    </table>
                </md-grid-tile>
            </md-grid-list>
        </md-whiteframe>
    </md-container>
</section>

