<!-- getsource -->
<section id="getsource">
    <md-container layout-padding>
        <h3 class="md-headline">Get Source:</h3>
        <md-divider style="margin: -20px 10px 10px 0px"></md-divider>
        
        <md-whiteframe class="md-whiteframe-2dp" layout-margin layout="row" layout-align="space-between center" style="height: 200px">
            <md-grid-list flex="100" md-cols-sm="6" md-cols-md="6" md-cols="12" md-row-height="1:1">
                <md-grid-tile md-colspan="6" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/github.png" />
                    </span>
                    <div flex>
                        <span class="md-subhead">GitHub</span>
                        <div class="md-body-1" style="text-align: justify">Source available here <a href="https://github.com/raghavsood33/profile_page" target="_blank">github.com/raghavsood33/profile_page</a>. The page is made using:
                        <table>
                            <tr><td>jQuery</td><td>v2.2.4</td><td></td><td></td><td></td></tr>
                            <tr><td>AngularJS</td><td>v1.5.0</td><td>Google Angular Material</td><td>v1.1.0-rc4</td></tr>
                            <tr><td>Angular Sanitize</td><td>v1.5.0</td><td>Angular Animate+Aria</td><td>v1.5.0</td></tr>
                            <tr><td>Angular UI Router</td><td>v1.0.0-beta.1</td><td>Klarsys Angular Material Icons</td><td>v0.7.0</td></tr>
                            <tr><td style="width: 120px">&nbsp;</td><td style="width: 120px">&nbsp;</td><td style="width: 200px">&nbsp;</td><td style="width: 120px">&nbsp;</td></tr>
                        </table>
                        </div>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </md-whiteframe>
    </md-container>
</section>

