<!-- projects -->
<section id="projects">
    <md-container layout-padding>
        <h3 class="md-headline">Projects:</h3>
        <md-divider style="margin: -20px 10px 10px 0px"></md-divider>
        
        <md-whiteframe class="md-whiteframe-2dp" layout-margin layout="row" layout-align="space-between center">
            <md-grid-list flex="100" md-cols-sm="6" md-cols-md="6" md-cols="12" md-row-height="1:1">
                <md-grid-tile md-colspan="6" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/CODD.png" />
                    </span>
                    <div>
                        <span class="md-subhead">CODD</span>
                        <div class="md-body-1" style="text-align: justify">I have started to work on <a href="http://dsl.cds.iisc.ac.in/projects/CODD/" target="_blank">CODD</a> which is a project made at DSL, IISc. CODD is an easy-to-use graphical tool for the automated creation, verification, retention, scaling and porting of database meta-data configurations. It is written entirely in Java and is operational on a suite of industrial-strength database engines -- currently, DB2, Oracle, SQL Server, SQL-MX and PostgreSQL are supported. 
                        </div>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </md-whiteframe>
    </md-container>
</section>

