<!-- publications -->
<section id="publications">
    <md-container layout-padding>
        <h3 class="md-headline">Publications:</h3>
        <md-divider style="margin: -20px 10px 10px 0px"></md-divider>
        
        <md-whiteframe class="md-whiteframe-2dp" layout-margin layout="row" layout-align="space-between center">
            <md-grid-list flex="100" md-cols-sm="3" md-cols-md="6" md-cols="12" md-row-height="1:1">
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <!-- <img src="assets/images/--.jpg" /> -->
                    </span>
                    <table style="width: 300px">
                        <tr><td colspan="2">(none yet)</td></tr>
                        <tr><td colspan="2"><a href="http://www.--.com/" target="_blank">--</a></td></tr>
                        <tr><td>--</td><td>--</td></tr>
                    </table>
                </md-grid-tile>
            </md-grid-list>
        </md-whiteframe>
    </md-container>
</section>

