<!-- startups -->
<section id="startups">
    <md-container layout-padding>
        <h3 class="md-headline">Startups:</h3>
        <md-divider style="margin: -20px 10px 10px 0px"></md-divider>
        
        <md-whiteframe class="md-whiteframe-2dp" layout-margin layout="row" layout-align="space-between center">
            <md-grid-list flex="100" md-cols-sm="6" md-cols-md="6" md-cols="12" md-row-height="1:1">
                <md-grid-tile md-colspan="6" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/AppyFest.png" />
                    </span>
                    <div>
                        <span class="md-subhead">AppyFest</span>
                        <div class="md-body-1" style="text-align: justify">The AppyFest <a href="https://play.google.com/store/apps/details?id=com.appyfest" target="_blank">android app</a> is for enthusiasts who live life to its fullest. In the app you find the list of all new and trending fests and events happening around you. Authenticated fest organizers through our website provide details of their upcoming fests. App users find among these the events they are most interested in. And that’s it !
                        </div>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </md-whiteframe>
    </md-container>
</section>

