<!-- workex -->
<section id="workex">
    <md-container layout-padding>
        <h3 class="md-headline">Work Experience:</h3>
        <md-divider style="margin: -20px 10px 10px 0px"></md-divider>
        
        <md-whiteframe class="md-whiteframe-2dp" layout-margin layout="row" layout-align="space-between center">
            <md-grid-list flex="100" md-cols-sm="3" md-cols-md="6" md-cols="12" md-row-height="1:1">
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/amazon.jpg" />
                    </span>
                    <table style="width: 300px">
                        <tr><td colspan="2">Software Development Engineer</td></tr>
                        <tr><td colspan="2"><a href="http://www.amazon.com/" target="_blank">Amazon Hyderabad</a></td></tr>
                        <tr><td>2014-2015</td><td>SDE I</td></tr>
                    </table>
                </md-grid-tile>
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/amazon.jpg" />
                    </span>
                    <table style="width: 300px">
                        <tr><td colspan="2">Software Development Engineer (Intern)</td></tr>
                        <tr><td colspan="2"><a href="http://www.amazon.com/" target="_blank">Amazon Hyderabad</a></td></tr>
                        <tr><td>June-July 2013</td><td>SDE (intern)</td></tr>
                    </table>
                </md-grid-tile>
                <md-grid-tile md-colspan="3" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/CSSoft.jpg" />
                    </span>
                    <table style="width: 300px">
                        <tr><td colspan="2">iOS Developer (intern)</td></tr>
                        <tr><td colspan="2"><a href="http://www.cssoftsolutions.com/" target="_blank">CSSoft Solutions</a></td></tr>
                        <tr><td>June-July 2012</td><td>iOS Dev (intern)</td></tr>
                    </table>
                </md-grid-tile>
            </md-grid-list>
        </md-whiteframe>
    </md-container>
</section>

