<!-- workstation -->
<section id="workstation">
    <md-container layout-padding>
        <h3 class="md-headline">Workstation:</h3>
        <md-divider style="margin: -20px 10px 10px 0px"></md-divider>
        
        <md-whiteframe class="md-whiteframe-2dp" layout-margin layout="row" layout-align="space-between center" style="height: 200px">
            <md-grid-list flex="100" md-cols-sm="6" md-cols-md="6" md-cols="12" md-row-height="1:1">
                <md-grid-tile md-colspan="6" layout="row" layout-align="space-between center">
                    <span layout-margin>
                        <img src="assets/images/Sun.png" />
                    </span>
                    <div flex>
                        <span class="md-subhead">Hamir- Sun Ultra 24</span>
                        <span class="md-caption">(I am kinda obssessed with the machine I use)</span>
                        <div class="md-body-1" style="text-align: justify">
                            Intel Core2 Extreme CPU X9650 3.0GHz 4 cores 12M
                            <br />Nvidia Quadro FX 570 256MB
                            <br />4 x 2GB 667MHz DDR2 DIMM SDRAM
                            <br />512GB 2.5" SSD SATA 6Gb/s Samsung 840 Pro DXM05B0Q
                            <br />3 x 300GB 3.5" SAS 15Krpm Sun Hitachi HUS1530SBSUN300G
                            <br />24.1" Sun LCD Monitor v4 resolution 1920x1200
                            <br />CDDVD writer TSSTCorp TS-H653B
                            <br />Dual Booted with Ubuntu 16.04.4 LTS 64bit, Windows10 Pro 64bit
                        </div>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </md-whiteframe>
    </md-container>
</section>

